.main-content {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  background-color: var(--main-bg-color);
}

.main-container {
  flex-grow: 2;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  gap: 22px;
  overflow: auto;
  max-width: 1932px;
  width: 100%;
}

aside {
  width: calc(20% - 24px);
  overflow-y: hidden;
  height: 100%;
}

main {
  flex-grow: 2;
  border-radius: 12px;
  background: var(--color-white);
  height: 100%;
  width: 80%;
  overflow: hidden;
  border: 1px solid var(--table-border-color);
}

@media screen and (max-width: 1919px) {
  .main-container {
    margin: 0 auto;
    width: 100%;
  }
}

@media screen and (max-width: 1440px) {
  .main-container {
    gap: 8px;
    max-width: 1416px;
  }

  aside {
    min-width: 220px;
  }
  main {
    min-width: calc(100% - 242px);
  }
}

/* @media screen and (max-width: 768px) { */
@media screen and (max-width: 1150px) {
/* @media screen and (max-width: 1200px) { */
  main {
    border: none;
    background-color: transparent;
  }
  .main-container {
    margin: 0;
    padding: 14px;
    transition: .3s ease-in-out;
  }

  .main-content {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
  }

  body.sidebar-open,
  body.tabs-open,
  body.menu-open,
  .sidebar-open .main-content,
  .tabs-open .main-content,
  .menu-open .main-content {
    height: 100dvh;
    overflow: hidden;
  }
}
