@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

ol, ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}


html, body {
  border: 0;
  margin: 0;
  height: 100%;
  min-height: 100%;
}

body {
  background: var(--color-black);
}


/* @media screen and (max-width: 768px) { */
@media screen and (max-width: 1150px) {
/* @media screen and (max-width: 1200px) { */
  body.modal-open .ui-widget-overlay {
    display: block;
  }
}

.container {
  max-width: 1580px;
  margin: 0 auto;
  padding: 0 24px;
}

* {
  box-sizing: border-box;
}

.custom-select .ui-selectmenu-text {
  position: relative;
  font-family: 'Poppins';
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
}

.custom-select .ui-selectmenu-button-open .ui-selectmenu-text {
  font-size: 14px;
  font-weight: 600;
}

.custom-select .ui-button,
.custom-select .ui-button:hover,
.custom-select .ui-button:focus,
.custom-select .ui-button:active {
  background-color: var(--color-white);
  color: var(--color-black);
  border-radius: 8px;
  border: 1px solid var(--sibebar-select-bg-color);
}

.custom-select .ui-button.ui-selectmenu-button-open,
.custom-select .ui-button:hover {
  border: 1px solid var(--color-blue);
}

.custom-select .ui-button .ui-icon {
  background-position: 0;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translate(0, -50%);
}

.custom-select .ui-selectmenu-button-closed .ui-icon {
  background-image: url("../icons/triangle-down.svg") !important;
}

.custom-select .ui-button.ui-selectmenu-button-open .ui-icon {
  background-image: url("../icons/triangle-up.svg") !important;
}



.custom-select .ui-selectmenu-button {
  background-color: var(--color-white);
}

.custom-select .ui-selectmenu-button:active {
  color: var(--color-black);
}

.custom-select .ui-selectmenu-button:hover {
  background-color: var(--color-white);
}

.ui-widget.ui-widget-content.custom-autocomplete,
.ui-selectmenu-menu .ui-widget.ui-widget-content {
  border-radius: 8px;
  padding: 6px;
  margin-top: 4px;
  border: none;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.1);
}

.ui-state-active, .ui-widget-content .ui-state-active {
  border: 1px solid var(--table-border-color) !important;
  background: var(--table-border-color) !important;
  color: var(--color-black) !important;

  border-radius: 8px;
}

.ui-menu div.ui-menu-item-wrapper {
  padding: 6px 8px;
  font-size: 13px;
  font-family: 'Poppins';
  font-weight: 400;
  line-height: 1.2;
}

.dialog,
.mobile-only {
  display: none;
}

.btn span {
  display: inline-block;
  transition: all .3s ease-in-out;
}

.btn:hover span {
  transform: scale(1.05);
}

.btn:active span {
  transform: scale(1);
}

body .ui-widget-overlay {
  background: var(--overlay-bg-color);
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.mdo-dialog {
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

body .ui-widget.ui-widget-content {
  border: none;
  border-radius: 12px;
}

.tooltip-text {
  display: none;
}

@media screen and (max-width: 1024px) {
  .custom-select .ui-selectmenu-button-open .ui-selectmenu-text {
    font-size: 12px;
  }
}

/* @media screen and (max-width: 768px) { */
@media screen and (max-width: 1150px) {
/* @media screen and (max-width: 1200px) { */
  a {
    color: inherit;
  }

  .mobile-only {
    display: block;
  }

  html, body {
    min-width: 350px;
    height: 105vh;
  }
}
