:root {
  --width-lg: 1280px;
  --main-bg-color: #f6f7fa;
  --header-bg-color: #0C0D11;
  --header-mobile-nav-bg-color: #F1F2F5;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-blue: #02A1D3;
  --link-hover-color: #8ab902;
  --table-main-background: #FAFAFA;
  --table-border-color: #E7E7E7;
  --table-border-color-dark: #DADADA;
  --table-background-hover-color: #F4F4F4;
  --table-background-hover-submenu: #F8F8F9;
  --table-primary-background: #E8F0F5;
  --table-secondary-background: #FAF7EC;
  --table-gray-background: #F3F3F3;
  --table-skeleton-color: #F1F1F1;
  --marker-sucess: #C6DE63;
  --marker-warning: #DEC463;
  --marker-danger: #DE8863;
  --marker-info: #63AADE;
  --spinner-color: #02A1D3;
  --text-success-color: #3AAC4C;
  --tooltip-arrow-color: #E6E6E6;
  --dropdown-item-hover: #E7E8EC;
  --subscribe-btn-color: #92C53E;
  --subscribe-btn-color-hover: #a6de49;
  --subscribe-btn-color-focus: #84B238;
  --auth-checkbox-border: #5e6377;
  --auth-checkbox-background: #27ae60;
  --blue-btn-color-hover: #03C3FF;
  --blue-btn-color-focus: #0FA6D5;
  --user-dropdown-bg: #1F2024;
  --social-icons-bg: #2A2D30;
  --sibebar-select-bg-color: #CFCFCF;
  --checkbox-text-color: #151515;
  --grey-arrow: #74879B;
  --overlay-bg-color: #131517;
  --inactive-checkbox: #525050;
  --header-mobile-nav-click: #D9DADE;
  --button-border-color: #c5c5c5;
}
